<%= turbo_frame_tag "sentence_modal" do %>
  <%= form_with(model: @question_content, url: admins_question_contents_path, local: true, data: { action: "turbo:submit-end->sentence-modal#close" }) do |form| %>
    <!-- Modal -->
    <div class="modal fade modal-lg" id="sentence_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="sentence-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">問題文を追加</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              <%# 全体をturbo_frame_tagで囲う %>
              <%# 編集をクリックすると、_cat.html.erbの<turbo-frame>部分がこの部分に置換される %>
              <%= turbo_frame_tag 'new_question_content' do %>
                <%= form.text_area :sentence, class: 'h-100 border w-full rounded', rows: 5 %>              
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <%= form.submit "追加", class: "btn btn-outline-primary mb-2" %>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
          </div>
        </div>
      </div>  
    </div>
    <!-- Modal end -->
  <% end %>
<% end %>
